@font-face {
    font-family: 'gpbNusxuri';
    src: url('../script/fonts/gpbNusxuriRegular/gpbNusxuriRegular.woff2') format('woff2'),
        url('../script/fonts/gpbNusxuriRegular/gpbNusxuriRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notopenekeko';
    src: url('../script/fonts/notopenekeko/NotoPenekeko.woff2') format('woff2'),
        url('../script/fonts/notopenekeko/NotoPenekeko.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gpbNusxuri';
    src: url('../script/fonts/gpbNusxuriBold/gpbNusxuriBold.woff2') format('woff2'),
        url('../script/fonts/gpbNusxuriBold/gpbNusxuriBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gpbMtavruli';
    src: url('../script/fonts/gpbMtavruliBold/gpbMtavruliBold.woff2') format('woff2'),
        url('../script/fonts/gpbMtavruliBold/gpbMtavruliBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fasolid';
    src: url('../script/fonts/fasoild/FontAwesome5FreeSolid.woff2') format('woff2'),
        url('../script/fonts/fasoild/FontAwesome5FreeSolid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
